
<div class="main-content" ng-contoller="ProductsTemplateController">
  <h1>Products</h1>
  <div class="tabular">
   <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3" ng-repeat="title in productTitles"><a class="black-text" ng-click="prodView($index)">{{title}}</a></li>
        </ul>
      </div>
      <div ng-if="view == 1" class="product-fade">
    <products-one></products-one>
    </div>
    <div ng-if="view == 2" class="product-fade">
    <products-two></products-two>
    </div>
    <div ng-if="view == 3" class="product-fade">
    <products-three></products-three>
    </div>
    <div ng-if="view == 4" class="product-fade">
    <products-four></products-four>
    </div>
  </div>

</div>