
<div class="main-content" ng-contoller="ProductsTemplateController">
  <h1>Product {{view}}</h1>
  <div class="tabular">
   <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="black-text" ng-click="prodView('one')">Test 1</a></li>
          <li class="tab col s3"><a class="black-text" ng-click="prodView('two')">Test 2</a></li>
          <li class="tab col s3"><a class="black-text" ng-click="prodView('three')">Test 3</a></li>
          <li class="tab col s3"><a class="black-text" ng-click="prodView('four')">Test 4</a></li>
        </ul>
      </div>
      <div ng-if="view == 'one'" class="product-fade">
    <products-one></products-one>
    </div>
    <div ng-if="view == 'two'" class="product-fade">
    <products-two></products-two>
    </div>
    <div ng-if="view == 'three'" class="product-fade">
    <products-three></products-three>
    </div>
    <div ng-if="view == 'four'" class="product-fade">
    <products-four></products-four>
    </div>
  </div>

</div>